.DS_Store
.gradle/
.settings/
.metadata/
.idea/
.gradletasknamecache
build/
out/
releases/
.classpath
.project
gradle-local.properties
environment.properties
assetInstallTime.properties
flow.properties
.tmp/
*.sublime-*
.vscode/
*.iml
*.ipr
*.iws
*.db
ye-olde-project
/bin/
# ignore local BIT artifacts
.bit
.bitmap
bit.json

java_pid11496.hprof

# ignoring ml-datahub-tests files
ml-datahub-tests/bin
ml-datahub-tests/build

# ignoring dhf-deployment-tests files
dhf-deployment-tests/bin
dhf-deployment-tests/build

# ignoring 5.0-end-to-end-tests files
5.0-end-to-end-tests/bin
5.0-end-to-end-tests/build
5.0-end-to-end-tests/src/main/*
5.0-end-to-end-tests/entities/
5.0-end-to-end-tests/flows/
5.0-end-to-end-tests/mappings/

# ignoring qs-datahub-codegen-api files
qs-datahub-codegen-api/bin
qs-datahub-codegen-api/build